---
import { seoMeta } from '@stephenchenorg/astro/page'
import Layout from '@/layouts/Layout.astro'
import { graphQLAPI, gql } from '@/api'
import SectionTitle from "../../components/ui/SectionTitle.astro";

const meta = seoMeta({
  title: '服務項目 - Heaven Spa',
})

const GET_SERVICE_CATEGORIES = gql`
  query MyQuery {
    serviceCategories {
      data {
        cover {
          desktop
          desktop_blur
          mobile
          mobile_blur
        }
        background {
          desktop
          desktop_blur
          mobile
          mobile_blur
        }
        description
        sub_title
        title
        id
      }
    }
  }
`

const data = await graphQLAPI<{
  serviceCategories: {
    data: Array<{
      id: string
      title: string
      sub_title: string
      description: string
      cover: {
        desktop: string
        desktop_blur: string
        mobile: string
        mobile_blur: string
      }
      background: {
        desktop: string
        desktop_blur: string
        mobile: string
        mobile_blur: string
      }
    }>
  }
}>(GET_SERVICE_CATEGORIES)

const services = data.serviceCategories.data
---

<Layout meta={meta}>
  <main class="pt-32 w-full text-white">

    <!-- 標題區 -->
    <SectionTitle title="服務項目" subtitle="Service" />
    <section
      class="w-full min-h-[calc(100vh-8rem)] flex flex-col"
      aria-label="服務項目列表"
    >


      <div class="mt-8 grid flex-1 grid-cols-1 md:grid-cols-4 gap-0">
        {services.map((service) => (
            <a href="/services/items" class="group relative flex h-full items-end overflow-hidden">
              {/* 背景圖片 */}
              <div
                  class="absolute top-0 left-0 h-full w-[120%] bg-center bg-cover transition-transform duration-[1200ms] ease-out group-hover:-translate-x-20"
                  style={`background-image: url(${service.cover?.desktop || service.background?.desktop})`}
              />
                {/* 漸層遮罩 */}
                <div class="pointer-events-none absolute inset-0 bg-gradient-to-t transition-opacity duration-500 group-hover:from-black/20" />

                {/* 文字內容 */}
                <div class="relative z-[1] flex w-full flex-col gap-4 p-8 md:p-10 justify-between h-full">
                  <p class="text-4xl font-semibold tracking-tight md:text-5xl lg:text-6xl">{service.title}</p>
                  <p class="text-sm text-white/60 font-bold">{service.description}</p>

                </div>
            </a>
        ))}
      </div>
    </section>
  </main>
</Layout>
