---
import { seoMeta } from '@stephenchenorg/astro/page'
import Prose from '@/components/ui/Prose.vue'
import { gql, graphQLAPI } from '../../api'
import Layout from '../../layouts/Layout.astro'
import SectionTitle from '../ui/SectionTitle.astro'

interface Props {
  path: string
}

interface PageData {
  page: {
    id: string
    title: string
    key: string
    fields: Array<{
      content: string
      image?: {
        desktop?: string
        desktop_blur?: string
        mobile?: string
        mobile_blur?: string
      }
    }>
    og_description?: string
    og_image?: string
    og_title?: string
    seo_body?: string
    seo_description?: string
    seo_head?: string
    seo_json_ld?: string
    seo_keyword?: string
    seo_title?: string
  }
}

const data = await graphQLAPI<PageData>(gql`
  query MyQuery {
    page(key: "${Astro.props.path}") {
      id
      title
      key
      og_description
      og_image
      og_title
      seo_body
      seo_description
      seo_head
      seo_json_ld
      seo_keyword
      seo_title
      fields {
        content
        image {
          desktop
          desktop_blur
          mobile
          mobile_blur
        }
      }
    }
  }
  `)

const meta = seoMeta({
  title: data.page?.title,
  og_description: data.page?.og_description,
  og_image: data.page?.og_image,
  og_title: data.page?.og_title,
  seo_body: data.page?.seo_body,
  seo_description: data.page?.seo_description,
  seo_head: data.page?.seo_head,
  seo_json_ld: data.page?.seo_json_ld,
  seo_keyword: data.page?.seo_keyword,
  seo_title: data.page?.seo_title,
})
---

<Layout meta={meta}>
  <main class="section-container">
  <!-- 標題區 -->
    <SectionTitle title={data.page?.title} subtitle={data.page?.key} />

    <div class="max-w-6xl mx-auto">
      <article class="mt-12">
        <Prose sourceDoc={data.page?.fields[0]?.content || ''} client:load />
      </article>
    </div>
  </main>
</Layout>
