---
import {seoMeta} from '@stephenchenorg/astro/page'
import Layout from '@/layouts/Layout.astro'

const meta = seoMeta({
    title: `技能培訓 - Heaven Spa`,
})
---

<Layout meta={meta}>
    <div id="content">
        <div class="banner banA">
            <h5>技能培訓</h5>
        </div>
        
        <div class="main_part">
            <div class="path">
                <p><a href="../index.php">首頁</a> &gt; 技能培訓</p>
            </div>
            
            <div class="show_content fadeInUp animated15">
                <div class="promotion_title">
                    <em>技能培訓</em>
                    <h2>培訓選項</h2>
                </div>

                <div class="edit">
                    <script src="https://pic03.eapple.com.tw/yk_js_web/scrollfade.js"></script>

                    <div class="box_container">
                        <div class="cabg01">
                            <dl class="cabg01_1 content_flex">
                                <dt>
                                    <section data-animate-in="left" data-detect-repeat="N" class="in-view">
                                        <img src="https://pic03.eapple.com.tw/yonghe32/cla_01.png" alt="">
                                        <figure>
                                            <a href="https://www.yonghe32.com/paper/other_select_index.php?id=3629&amp;title_id=10681&amp;group_id=852">培訓服務介紹</a>
                                            <a href="https://www.yonghe32.com/paper/other_select_index.php?id=3630&amp;title_id=10681&amp;group_id=852">培訓課程選項</a>
                                        </figure>
                                    </section>
                                    <p>
                                        <img src="https://pic03.eapple.com.tw/yonghe32/cla_000.png" alt="">
                                        <span>一對一的教學方式不僅能最大程度地發揮效益，還能確保學習的效果和效率</span>
                                    </p>
                                </dt>
                                <dd>
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_01.png" alt="">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_01_1.jpg" alt="">
                                </dd>
                            </dl>
                        </div>
                        
                        <div class="cabg02">
                            <dl class="cabg02_1 content_flex">
                                <dt data-animate-in="left" data-detect-repeat="N" class="in-view">
                                    <h4>
                                        <img src="https://pic03.eapple.com.tw/yonghe32/ser_02.png" alt="">
                                        <p>課程選擇</p>
                                    </h4>
                                    <figure>
                                        <p>課程費用　<span><a href="https://line.me/R/ti/p/%40026zdunp" target="_blank">請洽客服中心</a></span></p>
                                        <h6>個人化定製專屬訓練課表</h6>
                                        <var>
                                            <b>課程費用含</b>
                                            <dfn>拔罐組<br>結業證書一式</dfn>
                                        </var>
                                        <ul>
                                            <li>一對一專人 1H 免費課程諮詢</li>
                                            <li>依個人學術技能及欲強化技能項目需求</li>
                                            <li>依諮詢內容，安排專屬老師一對一全程教學 (師徒概念)</li>
                                            <li>結業後，提供免費線上文字諮詢</li>
                                        </ul>
                                        <h6>師資陣容</h6>
                                        <ul>
                                            <ol><b>尤文傑 - </b>品牌執行長</ol>
                                            <ol><b>陳昕楷 - </b>品牌總經理</ol>
                                        </ul>
                                    </figure>
                                </dt>
                                <dd><img src="https://pic03.eapple.com.tw/yonghe32/ca_02.png" alt=""></dd>
                            </dl>
                            
                            <ul class="cabg02_2 content_flex">
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_03.png" alt="">
                                    <p>人體肌肉路徑學識概念強化</p>
                                </li>
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_04.png" alt="">
                                    <p>徒手、指壓、掌壓、肘壓技法</p>
                                </li>
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_05.png" alt="">
                                    <p>精油、指推、長推、肘推技法</p>
                                </li>
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_06.png" alt="">
                                    <p>拔罐、走罐、刮痧、 肌群伸展等技法</p>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="cabg03">
                            <dl class="cabg03_1 content_flex">
                                <dd><img src="https://pic03.eapple.com.tw/yonghe32/ca_07.jpg" alt=""></dd>
                                <dt data-animate-in="right" data-detect-repeat="N" class="in-view">
                                    <h4>
                                        <img src="https://pic03.eapple.com.tw/yonghe32/ser_02.png" alt="">
                                        <p>美式整復運動調理按摩</p>
                                    </h4>
                                    <figure>
                                        <p>課程費用　<span><a href="https://line.me/R/ti/p/%40026zdunp" target="_blank">請洽客服中心</a></span></p>
                                        <h6>個人化定製專屬訓練課表</h6>
                                        <var>
                                            <b>課程費用含</b>
                                            <dfn>精美筋膜刀具五件組與拔罐組<br>結業證書一式</dfn>
                                        </var>
                                        <ul>
                                            <li>一對一專人 1H 免費課程諮詢</li>
                                            <li>依個人學術技能及欲強化技能項目需求，設計個人化課表</li>
                                            <li>依諮詢內容，安排專屬老師一對一全程教學 (師徒概念)</li>
                                            <li>結業後，提供免費線上文字諮詢</li>
                                        </ul>
                                        <h6>師資陣容</h6>
                                        <ul>
                                            <ol><b>林訓呈 - </b>權威老師暨品牌技術指導顧問</ol>
                                            <ol><b>尤文傑 - </b>品牌執行長</ol>
                                            <ol><b>黃柏儒 - </b>品牌技術指導總教練</ol>
                                            <ol><b>廖家惠 - </b>品牌技術指導顧問</ol>
                                        </ul>
                                    </figure>
                                </dt>
                            </dl>
                            
                            <ul class="cabg03_2 content_flex">
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_08.png" alt="">
                                    <p>人體肌肉路徑學識與問題評估教學</p>
                                </li>
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_09.png" alt="">
                                    <p>徒手運動按摩<br>關節鬆動術<br>神經鬆動術<br>內臟筋膜平衡調整</p>
                                </li>
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_10.png" alt="">
                                    <p>肌筋膜軟組織放鬆<br>動作優化調整<br>整合式伸展</p>
                                </li>
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_11.png" alt="">
                                    <p>美式整復調理<br>傳統整復調理<br>產後骨盆調理 肌群伸展等技法</p>
                                </li>
                                <li data-animate-in="down" data-detect-repeat="N" class="in-view">
                                    <img src="https://pic03.eapple.com.tw/yonghe32/ca_12.png" alt="">
                                    <p>拔罐、走罐、刮痧、拔罐伸展等調理技法</p>
                                </li>
                            </ul>
                            
                            <div class="cabg03_3">
                                <a href="https://line.me/R/ti/p/%40026zdunp" target="_blank">立即預約體驗</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="other_promotion clearfix">
                <li class="slowAnimation">               
                    <a href="?group_id=852&amp;id=3629&amp;title_id=10681&amp;page=">
                        <div class="pmtTitle">
                            <span>技能培訓</span>
                            <h3>培訓計畫</h3>
                        </div>
                    </a>
                </li>
                <li class="slowAnimation">               
                    <a href="?group_id=852&amp;id=3630&amp;title_id=10681&amp;page=">
                        <div class="pmtTitle">
                            <span>技能培訓</span>
                            <h3>培訓選項</h3>
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="page"></ul>
        </div>
    </div>

    <style>
        .pageIndex {
            max-width: 100%;
            padding: 0;
        }

        .main_part {
            max-width: 2000px;
            padding: 0;
            margin: 0 auto;
        }

        .edit,
        .edit_part,
        .show_content,
        .main_part {
            width: 100%;
            max-width: 100%;
            padding: 0;
        }

        .edit * {
            word-break: normal;
        }

        .banner {
            display: none;
        }

        body:before {
            content: ' ';
            position: fixed;
            z-index: -1;
            inset: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(https://pic03.eapple.com.tw/yonghe32/bg.jpg);
        }

        .animated15 {
            animation: none;
        }

        .box_container {
            width: 100%;
            max-width: 2000px;
            font-family: "微軟正黑體", Microsoft JhengHei;
            font-size: var(--font18);
            letter-spacing: 1.5px;
            color: #000000;
            border: 0;
            text-decoration: none;
            overflow: hidden;
            margin: auto;
            --font80: 80px;
            --font30: 30px;
            --font26: 26px;
            --font20: 20px;
            --font18: 18px;
            --font17: 17px;
        }

        .box_container img {
            width: auto;
            max-width: 100%;
        }

        .box_container * {
            box-sizing: border-box;
            max-width: 100%;
            padding: 0;
            margin: 0;
            line-height: 120%;
        }

        .box_container a {
            text-decoration: none;
        }

        .box_container ul {
            list-style: none;
        }

        .box_container i,
        .box_container em,
        .box_container dfn,
        .box_container var {
            font-style: normal;
            line-height: 0px;
        }

        .box_container u {
            text-decoration: none;
        }

        /* Animations */
        [data-animate-in] {
            opacity: 0;
            transition: transform 0.8s ease, opacity 0.8s ease;
        }

        [data-animate-in="up"] {
            transform: translate3d(0, 20%, 0);
        }

        [data-animate-in="left"] {
            transform: translate3d(-30%, 0, 0);
        }

        [data-animate-in="right"] {
            transform: translate3d(30%, 0, 0);
        }

        [data-animate-in="down"] {
            transform: translate3d(0, -20%, 0);
        }

        [data-animate-in="fadeIn"] {
            transform: translate3d(0, 0, 0);
        }

        [data-animate-in="scaleIn"] {
            transform: scale(.3);
        }

        [data-animate-in].in-view {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            transition: transform 1.2s ease, opacity 1s ease;
        }

        .fade-in {
            opacity: 0;
            transition: opacity 1s ease;
        }

        .content_flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* 主要區塊樣式 */
        .cabg01 {
            background: url(https://pic03.eapple.com.tw/yonghe32/cbg_01.jpg) no-repeat center;
            background-size: cover;
            padding-top: 100px;
        }

        .cabg01_1 {
            padding-left: 3%;
            margin-left: auto;
            max-width: calc(1640px + 3%);
            justify-content: flex-end;
            align-items: stretch
        }

        .cabg01_1 dt {
            width: 600px;
            flex-wrap: wrap;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: space-between;
        }

        .cabg01_1 dt section {
            margin: 5% 0;
        }

        .cabg01_1 dt section figure {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            margin-top: 20px;
        }

        .cabg01_1 dt section figure a {
            display: inline-block;
            padding: 7px 15px;
            background: #9A9972;
            color: #fff;
            font-weight: bold;
            font-size: var(--font20);
            letter-spacing: 0;
            border-radius: 50px;
        }

        .cabg01_1 dt section figure a + a {
            margin-left: 13px;
        }

        .cabg01_1 dt section figure a:last-child,
        .cabg01_1 dt section figure a:hover {
            background: #9A9972;
            color: #fff;
        }

        .cabg01_1 dt p {
            padding: 55px 0;
            position: relative;
            z-index: 1;
        }

        .cabg01_1 dt p:before {
            content: '';
            background: rgba(255, 255, 255, .5);
            position: absolute;
            left: 30%;
            top: 0;
            width: 1230px;
            height: 100%;
            transform: translateX(-50%);
            z-index: -1;
            border-top-right-radius: 200px;
        }

        .cabg01_1 dt p span {
            display: block;
            margin-top: 20px;
            font-size: var(--font17);
            max-width: 390px;
        }

        .cabg01_1 dd {
            line-height: 0;
        }

        .cabg01_1 dd img {
            object-fit: cover;
            object-position: left bottom;
            min-height: 100%;
        }

        .cabg01_1 dd img:last-child {
            display: none;
        }

        /* 響應式設計 */
        @media screen and (max-width: 1024px) {
            .cabg01_1 dt section figure a {
                font-size: 17px;
                padding: 8px;
            }
        }

        @media screen and (max-width: 768px) {
            .cabg01 {
                padding-top: 70px;
            }

            .cabg01_1 {
                flex-direction: column;
                align-items: center;
                width: 90%;
                padding-left: 0;
                margin: auto;
            }

            .cabg01_1 dt section {
                margin: 0 auto 30px;
            }

            .cabg01_1 dt section figure {
                justify-content: center;
            }

            .cabg01_1 dt p {
                padding: 50px 5%;
            }

            .cabg01_1 dt p:before {
                width: 100%;
                transform: unset;
                left: 0;
                border-radius: 0;
            }

            .cabg01_1 dd img:first-child {
                display: none;
            }

            .cabg01_1 dd img:last-child {
                display: block;
                margin: 30px auto;
            }
        }

        @media screen and (max-width: 480px) {
            .box_container {
                --font80: 40px;
                --font30: 25px;
                --font26: 20px;
                --font20: 18px;
                --font18: 16px;
                --font17: 16px;
            }

            .cabg01 {
                padding-top: 50px;
            }

            .cabg01_1 dt section > img {
                max-width: 300px;
            }

            .cabg01_1 dt section figure a + a {
                margin-left: 8px;
            }

            .cabg01_1 dt p {
                padding: 40px 5%;
            }
        }
    </style>
</Layout>
