---
import type { PageMeta } from '@/types'
import { getCompanySetting } from '@/api/companySetting'
import FloatingContactSidebar from '@/components/FloatingContactSidebar.vue'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Footer from '@/layouts/partials/Footer.astro'
import Header from '@/layouts/partials/Header.astro'

const companySetting = await getCompanySetting()

interface Props {
  // metadata
  meta: PageMeta

  // layout props
  // ...
}

const {
  meta,
} = Astro.props

---

<BaseLayout meta={meta}>
  <div class="w-full bg-theme-bg text-theme-text">
    <Header companySetting={companySetting} />

    <slot />

    <Footer companySetting={companySetting} />

    <FloatingContactSidebar
      client:load
      companySetting={companySetting}
    />
  </div>

  <!-- Theme Controller -->
  <!--<ThemeController />-->

</BaseLayout>
